/*@import url(http://fonts.googleapis.com/css?family=Dosis:300,700);*/

/*@import url(theme.css);*/
/*/!**************************/
/********Typography*******/
/***************************!/*/

/*body {*/
    /*font-family: 'Dosis', sans-serif;*/
    /*background-color: #000;*/
    /*background-position: 0 center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*height:100%;*/
    /*width: 100%;*/
    /*background-attachment: fixed;*/
    /*font-size: 16px;*/
    /*color: #e0e0e0;*/
    /*padding-top: 85px;*/
/*}*/

/*a,button{*/
	/*/!*text-transform: uppercase !important;*!/ /!*font-size: 14px !important*!/*/
/*}*/
/*/!*button*!/*/
/*.btn.btn-primary,*/
/*button {*/
    /*color: #fff;*/
    /*border: none;*/
    /*font-size: 22px;*/
    /*font-weight: 700;*/
    /*text-transform: uppercase;*/
/*}*/

/*.btn-purchase {*/
  /*margin-top: 20px;*/
/*}*/

/*.navbar-nav li a:hover,*/
/*.navbar-nav li a:focus {*/
  /*outline:none;*/
  /*outline-offset: 0;*/
  /*text-decoration:none;*/
  /*background: transparent;*/
/*}*/

/*a {*/
  /*-webkit-transition: 300ms;*/
  /*-moz-transition: 300ms;*/
  /*-o-transition: 300ms;*/
  /*transition: 300ms;*/
/*}*/

/*a:focus,*/
/*a:hover {*/
  /*text-decoration: none;*/
  /*outline: none*/
/*}*/

/*h1, h2, h3, h4, h5, h6 {*/
  /*font-family: 'Dosis', sans-serif;*/
/*}*/


/*video {*/
/*max-width: 100%;*/
/*height: auto;*/
/*}*/

/*iframe,*/
/*embed,*/
/*object {*/
/*max-width: 100%;*/
/*}*/

/*iframe{*/
  /*border:0;*/
/*}*/


/*/!**************************/
/******** Header CSS *******/
/***************************!/*/



/*#navigation {*/

    /*position: fixed;*/
    /*left: 0px;*/
    /*top: 0px;*/
    /*width: 100%;*/
    /*z-index: 99999*/
/*}*/

/*#navigation .navbar{*/
    /*margin-bottom: 0;*/
    /*border: 0;*/
/*}*/

/*#navigation .navbar-brand {*/
  /*padding: 20px 15px;*/
/*}*/

/*#navigation .navbar-brand h1{*/
  /*margin: 0;*/
  /*padding: 0;*/
/*}*/

/*#navigation .navbar-collapse {*/
  /*margin: 0;*/
/*}*/

/*#navigation .navbar-nav li {*/

/*}*/

/*#navigation .navbar-nav > li > a {*/
  /*padding-top: 0;*/
  /*padding-bottom: 0;*/
  /*color: #FFFFFF;*/
  /*font-size: 19px;*/
  /*font-weight: bold;*/
  /*height: 85px;*/
  /*line-height: 85px;*/
/*}*/
/*#navigation .navbar-nav > li.signup{*/
	/*margin-left:100px;*/
/*}*/
/*#navigation .navbar-nav > li.signup > a{*/

    /*height: 34px;*/
    /*line-height: 30px;*/
    /*margin-top: 25px;*/
    /*border-radius: 5px;*/
    /*border: 1px solid #ec5538;*/
    /*font-weight: normal;*/
/*}*/
/*#navigation .open a,*/
/*#navigation .open a:hover,*/
/*#navigation .open a:focus,*/
/*#navigation .navbar-nav li a.active,*/
/*#navigation .navbar-nav li a:focus,*/
/*#navigation .navbar-nav li a:active,*/
/*#navigation .navbar-nav li a:hover {*/
  /*background:transparent;*/
  /*color: #ec5538*/
/*}*/
/*#navigation .navbar-nav > li.signup > a:hover{*/

	/*border: 1px solid #ec5538*/
/*}*/

/*#navigation .dropdown-menu {*/
  /*background: #312E2A;*/
  /*margin-top: 4px;*/
/*}*/

/*.dropdown .fa-angle-down {*/
  /*opacity: 0;*/
  /*display: block;*/
  /*text-align: center;*/
  /*position: relative;*/
  /*bottom: 25px;*/
/*}*/

/*#navigation .navbar-nav li a:focus .fa-angle-down,*/
/*#navigation .navbar-nav li a:hover .fa-angle-down {*/
  /*opacity: 1*/
/*}*/

/*.navbar-header*/
/*.navbar-toggle .icon-bar {*/
    /*background-color: #fff;*/
/*}*/


/*.nav.navbar-nav > li:hover > ul.sub-menu{*/
  /*display: block;*/
  /*-webkit-animation: fadeInUp 400ms;*/
  /*-moz-animation: fadeInUp 400ms;*/
  /*-ms-animation: fadeInUp 400ms;*/
  /*-o-animation: fadeInUp 400ms;*/
  /*animation: fadeInUp 400ms;*/
/*}*/

/*ul.sub-menu{*/
  /*position: absolute;*/
  /*top: 85px;*/
  /*right: 0;*/
  /*background: #ec5538;*/
  /*list-style: none;*/
  /*padding: 0;*/
  /*margin: 0;*/
  /*width: 220px;*/
  /*-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.1);*/
  /*box-shadow: 0 3px 3px rgba(0,0,0,.1);*/
  /*display: none;*/
  /*z-index: 999;*/
/*}*/

/*#navigation .navbar-nav li ul.sub-menu li{*/
  /*padding: 0;*/
  /*margin: 0;*/
/*}*/

/*#navigation .navbar-nav li ul.sub-menu li a{*/
  /*display: block;*/
  /*color: #fff;*/
  /*padding: 7px 0 7px 20px;*/
  /*font-size: 17px;*/
/*}*/

/*#navigation li:hover>a .fa-angle-down{*/
  /*opacity: 1;*/
/*}*/

/*@-webkit-keyframes fadeInUp {*/
  /*0% {*/
    /*opacity: 0;*/
    /*-webkit-transform: translateY(20px);*/
    /*transform: translateY(20px);*/
  /*}*/

  /*100% {*/
    /*opacity: 1;*/
    /*-webkit-transform: translateY(0);*/
    /*transform: translateY(0);*/
  /*}*/
/*}*/

/*@keyframes fadeInUp {*/
  /*0% {*/
    /*opacity: 0;*/
    /*transform: translateY(20px);*/
  /*}*/

  /*100% {*/
    /*opacity: 1;*/
    /*transform: translateY(0);*/
  /*}*/
/*}*/

/*.navbar-toggle{*/
  /*margin-top: 20px;*/
/*}*/

/*/!**************************/
/******** Footer CSS *********/
/***************************!/*/
/*.quick-links {*/

/*}*/

/*.updates-links h3 {*/
  /*color: #fff;*/
  /*font-size: 20px;*/
  /*text-transform: uppercase;*/
  /*margin-bottom: 25px*/
/*}*/

/*.updates-links p {*/
  /*color: #bfbfbf;*/
  /*font-size: 16px;*/
  /*margin-bottom: 20px*/
/*}*/

/*.news-letter,*/
/*.twitter-updates {*/
  /*padding:0 35px*/
/*}*/

/*.quick-links {*/

/*}*/

/*.quick-links ul {*/
  /*list-style: none;*/
  /*padding: 0;*/
/*}*/

/*.quick-links ul li {*/

/*}*/

/*.quick-links ul li a {*/
  /*color: #bfbfbf;*/
  /*font-size: 16px*/
/*}*/

/*.quick-links .social-link i {*/
  /*height: 40px;*/
  /*line-height: 40px;*/
  /*text-align: center;*/
  /*width: 40px;*/
   /*-webkit-transition: 300ms;*/
  /*-moz-transition: 300ms;*/
  /*-o-transition: 300ms;*/
  /*transition: 300ms;*/
/*}*/

/*.quick-links .social-link a {*/
  /*color: #fff;*/
  /*font-size: 24px;*/
  /*margin-right:15px;*/
/*}*/


/*.news-letter input {*/
  /*background:rgba(0, 0, 0, 0.8);*/
  /*box-shadow: none;*/
  /*color: #FFFFFF;*/
  /*display: block;*/
  /*height: 40px;*/
  /*line-height: normal;*/
  /*width: 100%;*/
/*}*/

/*.news-letter .btn-primary {*/
  /*border: 0 none;*/
  /*color: #FFFFFF;*/
  /*font-size: 20px;*/
  /*font-weight: 800;*/
  /*margin-top: 17px;*/
  /*padding: 8px 22px;*/
/*}*/

/*.footer p {*/
  /*color: #FFFFFF;*/
  /*font-size: 18px;*/
  /*font-weight: 300;*/
/*}*/


/*/!**************************/
/******** Home CSS *********/
/***************************!/*/

/*#home {*/
  /*margin-top: 22%;*/
/*}*/

/*#home h1 {*/
  /*color: #FFFFFF;*/
  /*font-size: 72px;*/
  /*font-weight: 800;*/
  /*text-transform: uppercase;*/
  /*margin-top: 0*/
/*}*/

/*#home a {*/
  /*display: block;*/
  /*font-size: 22px;*/
  /*font-weight: 800;*/
  /*margin-top: 28px;*/
  /*overflow: hidden;*/
/*}*/



/*.heading {*/
  /*color: #FFFFFF;*/
  /*font-size: 30px;*/
  /*font-weight: 300;*/
  /*margin-bottom: 0;*/
  /*margin-top: 0;*/
  /*text-transform: uppercase;*/
  /*margin-bottom: 30px;*/
/*}*/

/*.single-performer {*/
  /*height:411px;*/
  /*width: 100%;*/
/*}*/

/*.single-performer h3 {*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*font-size: 20px;*/
  /*color: #fff;*/
  /*font-weight: 600;*/
  /*padding: 20px*/
/*}*/

/*.single-performer h3 span {*/
  /*font-weight: 300;*/
  /*display: block;*/
  /*color: #909090;*/
  /*font-size: 16px;*/
  /*margin-top: 5px;*/
/*}*/

/*#perfomars-slide .item .col-sm-3 {*/
  /*padding: 0*/
/*}*/

/*.overlay {*/
  /*display: block;*/
  /*height:411px;*/
  /*position: absolute;*/
  /*top:0;*/
  /*width:100%;*/
  /*left:0;*/
  /*-webkit-transition: 300ms;*/
  /*-moz-transition: 300ms;*/
  /*-o-transition: 300ms;*/
  /*transition: 300ms;*/
  /*opacity: 0*/
/*}*/

/*.perfomer-wrapper {*/
  /*position: relative;*/
/*}*/

/*.item .perfomer-wrapper:hover*/
/*.single-performer h3 {*/
  /*display: none;*/
/*}*/

/*.item .perfomer-wrapper:hover .overlay {*/
  /*opacity: 1*/
/*}*/


/*.overley-content {*/
  /*padding: 24px*/
/*}*/

/*.overlay h3 {*/
   /*color: #FFFFFF;*/
  /*font-size: 24px;*/
  /*font-weight: 600;*/
  /*margin-top: 75%;*/
/*}*/

/*.overlay h4 {*/
  /*font-size: 18px;*/
  /*font-weight: 300;*/
  /*margin-bottom: 20px;*/
  /*margin-top:-5px*/
/*}*/

/*.overlay p {*/
  /*font-size: 16px;*/
  /*font-weight: 400;*/
/*}*/

/*.social-icons {*/
  /*margin-top: 25px*/
/*}*/

/*.social-icons a {*/
  /*color: #FFFFFF;*/
  /*font-size: 20px;*/
  /*margin-right: 20px;*/
  /*padding-right: 5px;*/
/*}*/


/*.top-search {*/


  /*margin-top: 40px;*/
  /*padding:25px;*/
/*}*/

/*.top-search h2 {*/
  /*font-size: 28px;*/
  /*font-weight: 700;*/
  /*margin-top: 0;   margin-bottom: 0px; color: #FF6633*/
/*}*/
/*.top-search h3{*/
	/*margin-top: 0px; margin-bottom: 0px;  color: #FF6633*/
/*}*/

/*.top-search p {*/
  /*color: #FFFFFF;*/
  /*font-size: 18px;*/
  /*font-weight: 400;*/
/*}*/


/*#main-contact-form .btn-primary,*/
/*.buy-ticket {*/
  /*border: 0 none;*/
  /*color: #FFFFFF;*/
  /*font-size: 22px;*/
  /*font-weight: 700;*/
  /*height: 46px;*/
  /*line-height: 34px;*/
  /*margin-top: 5px;*/
  /*text-transform: uppercase;*/
  /*width: 165px;*/
/*}*/

/*.top-search .buy-ticket{*/
  /*float: right;*/
/*}*/

/*.btn-primary:hover{*/
  /*box-shadow: none;*/
/*}*/

/*.single-event {*/

  /*margin-top: 25px;*/
  /*padding: 30px;*/
  /*color: #fff*/
/*}*/


/*.single-event .heading {*/
  /*margin-left: 0;*/
/*}*/

/*.single-event .media-heading {*/
  /*font-size: 30px;*/
  /*font-weight: 500;*/
  /*color: #fff;*/
  /*margin-bottom:15px;*/
/*}*/

/*.single-event .media-body p{*/
  /*font-size: 18px;*/
  /*font-weight: 400;*/
  /*line-height: 1.3;*/
/*}*/


/*.single-event .view-info   {*/
  /*color: #a7a7a7;*/
  /*display: inline-block;*/
  /*font-size: 18px;*/
  /*margin-top: 5px;*/
  /*margin-right: 0px;*/
  /*float: right;*/
/*}*/

/*.single-event*/
/*.media-object {*/
  /*width:100%; display: inline-block; vertical-align: middle;*/
/*}*/
/*.single-event .media-object-parent{*/
	 /*width:150px; background: #000;  height: 150px;*/
	 /*border: 1px solid #212121; line-height: 150px; overflow: hidden;*/
/*}*/




/*/!* Event Single Page *!/*/


/*.event-content-inner .event-title {*/
  /*font-size: 30px;*/
  /*line-height: 110%;*/
  /*padding: 0 0 10px 0;*/
  /*margin: 0;*/
  /*font-weight: 500;*/
/*}*/

/*/!*countdown*!/*/

/*.event-content-inner .vocal-coundown-wrapper {*/
  /*padding: 20px 0;*/
  /*margin-bottom: 20px;*/
/*}*/

/*/!*.event-content-inner .themeum_kcoundown {*/
  /*background-size: cover;*/
  /*background-position-y: 25%;*/
  /*min-height: 250px;*/
  /*background-image:url('../images/counter.png');*/
/*}*!/*/

/*.event-content-inner .themeum_kcoundown ul.countdown-row {*/
  /*width: 100%;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*list-style: none;*/
  /*font-size: 0;*/
/*}*/

/*.event-content-inner .themeum_kcoundown ul.countdown-row li.countdown-section {*/
  /*display: inline-block;*/
  /*width: 25%;*/
  /*text-align: center;*/
  /*padding: 70px 0;*/
/*}*/

/*.event-content-inner .themeum_kcoundown ul.countdown-row li.countdown-section span.countdown-amount {*/
    /*font-size: 72px;*/
    /*font-weight: bold;*/
    /*margin-bottom: 10px;*/
    /*line-height: 82px;*/
    /*display: block;*/
/*}*/

/*.event-content-inner .themeum_kcoundown ul.countdown-row li.countdown-section span.countdown-period {*/
  /*font-size: 30px;*/
  /*font-weight: normal;*/
  /*line-height: 40px;*/
  /*display: block;*/
  /*text-transform: uppercase;*/
/*}*/

/*.event-content-inner .event-entry-content{*/
  /*margin-bottom: 40px;*/
/*}*/
/*/!*perfomars*!/*/

/*.performancer-box{*/
  /*margin-bottom: 40px;*/
/*}*/

/*.event-content-inner .performance{*/
  /*padding: 0;*/
  /*background: transparent;*/
  /*margin-top: 0;*/
  /*margin-bottom: 40px;*/
/*}*/

/*.event-content-inner ul.performer-list {*/
  /*list-style: none;*/
  /*padding: 0;*/
  /*margin: 0;*/
/*}*/

/*.event-content-inner ul.performer-list li {*/
  /*width: 25%;*/
  /*float: left;*/
  /*background-position: 0 0;*/
  /*background-attachment: scroll;*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
/*}*/

/*/!*Event Date*!/*/

/*.event-content-inner .event-date-time{*/
  /*margin-bottom: 40px;*/
/*}*/
/*.event-content-inner .event-date-time .event-date,*/
/*.event-content-inner .event-date-time .event-time {*/
  /*min-height: 80px;*/
  /*line-height: 80px;*/
  /*position: relative;*/
  /*background: #FFF;*/
  /*color:#404040;*/
  /*font-size: 26px;*/
/*}*/

/*.event-content-inner .event-date-time .event-date i,*/
/*.event-content-inner .event-date-time .event-time i {*/
  /*font-size: 30px;*/
  /*height: 80px;*/
  /*line-height: 80px;*/
  /*text-align: center;*/
  /*width: 80px;*/
  /*margin-right: 20px;*/
  /*color:#fff;*/
/*}*/

/*.event-content-inner .single-event-price{*/
  /*margin-bottom: 40px;*/
/*}*/


/*.btn.btn-primary,*/
/*button {*/
  /*box-shadow: 0 2px #ad2a11;*/
/*}*/

/*.news-letter input {*/
  /*border: 1px solid #EC5538;*/
/*}*/

/*.play-list .active {*/
  /*border-color: #EC5538;*/
/*}*/

/*.sponsor, .footer, .bg {*/
  /*background:rgba(0, 0, 0, 0.8);*/
  /*display: block;*/
  /*margin-top: 25px;*/
  /*overflow: hidden;*/
  /*padding: 30px*/
/*}*/



/*.event-content-inner .event-date-time .event-date i,*/
/*.event-content-inner .event-date-time .event-time i {*/
	/*background: #EC5538;*/
/*}*/

/*a,*/
/*#navigation .open a,*/
/*#home a,*/
/*.top-search h2,*/
/*.twitter-updates a,*/
/*.single-event .view-info span,*/
/*#carousel.item_dateWrapper li a.flex-prev,*/
/*#carousel.item_dateWrapper li a.flex-next,*/
/*.play-list .fa-music,*/
/*.entry-header .entry-title,*/
/*.entry-header .author span,*/
/*.widget .tagcloud .btn-default,*/
/*.error-info h2 span,*/
/*.event-content-inner .event-title,*/
/*.price{*/
	/*color: #ec5538;*/
/*}*/
/*.form-control{*/
	/*height: 33px;*/
/*}*/
/*input[type="radio"], input[type="checkbox"] {*/
    /*margin-right: 10px;*/
    /*margin-left: 10px;*/
/*}*/
/*a:focus,*/
/*a:hover,*/
/*#navigation .open a:hover,*/
/*#navigation .open a:focus,*/
/*#navigation .navbar-nav li a.active,*/
/*#navigation .navbar-nav li a:focus,*/
/*#navigation .navbar-nav li a:active,*/
/*#navigation .navbar-nav li a:hover,*/
/*.quick-links ul li a:hover,*/
/*.quick-links .fa-facebook:hover,*/
/*.quick-links .fa-twitter:hover,*/
/*.quick-links .fa-google-plus:hover,*/
/*.quick-links .fa-youtube:hover,*/
/*.small-date ul li a:hover,*/
/*.small-date ul li a:focus,*/
/*.small-date ul li a:active,*/
/*#carousel.item_dateWrapper li.active a,*/
/*.left-perfomer-control:active,*/
/*.right-perfomer-control:active,*/
/*.right-perfomer-control:focus,*/
/*.left-perfomer-control:focus,*/
/*.left-perfomer-control:hover,*/
/*.right-perfomer-control:hover,*/
/*.widget ul li a:active,*/
/*.widget ul li a:focus,*/
/*.widget ul li a:hover,*/
/*.share-post .social-link a:hover,*/
/*.social-networks ul li a:hover,*/
/*.popular-albums .media a:hover,*/
/*.back-to ul li a:hover,*/
/*.latest-post a:hover h4,*/
/*.latest-post .post-meta a:hover,*/
/*.single-event .view-info span:hover,*/
/*.sc-player ol.sc-trackslist li a.sp_audio_player_song_title:hover,*/
/*.sc-player ol.sc-trackslist li.active a,*/
/*.widget .tagcloud .btn-default:hover,*/
/*.widget .media-body .media-heading a:hover,*/
/*.widget .media-body span a:hover,*/
/*#home a:hover,*/
/*.flex-direction-nav a:hover:before,*/
/*#navigation li:hover>a {*/
	/*color: #ec5538;*/
/*}*/

/*/!* button hover color *!/*/

/*.btn.btn-primary:hover,*/
/*button:hover,*/
/*#main-contact-form .btn-primary:hover,*/
/*.buy-ticket:hover,*/
/*#navigation .navbar-nav li ul.sub-menu li a:hover,*/
/*#navigation .navbar-nav li ul.sub-menu li a.active {*/
  /*background: #dc3515;*/
/*}*/

/*.sc-player .sc-controls {*/
	/*background: #ec5538;*/
/*}*/

/*.sc-player ol.sc-trackslist li.active{*/
  /*border-color: #dc3515;*/
/*}*/

/*.overlay,*/
/*.album-overlay .album-info,*/
/*.tour-content{*/
  /*background-color:rgba(236, 85, 56, 0.8);*/
/*}*/

/*.latest-event ul li {*/
  /*border-bottom: 1px solid #D84124;*/
/*}*/

/*.latest-event ul {*/
  /*background-color: #ec5538;*/
/*}*/
/*.rock {*/
  /*background-color: #ec5538!important;*/
/*}*/

/*.rock:before {*/
  /*border-top: 320px solid #ec5538;*/
/*}*/

/*.rock:after {*/
  /*border-top:322px solid #ec5538;*/
/*}*/

/*.event-content-inner .themeum_kcoundown ul.countdown-row li.countdown-section:nth-child(odd) {*/
  /*background: rgba(236,85,56,0.7);*/
/*}*/

/*.event-content-inner .themeum_kcoundown ul.countdown-row li.countdown-section:nth-child(even) {*/
  /*background: rgba(194,49,21,0.7);*/
/*}*/

/*@media (max-width: 767px) {*/
  /*.event-content-inner .themeum_kcoundown ul.countdown-row li.countdown-section:nth-child(1),*/
  /*.event-content-inner .themeum_kcoundown ul.countdown-row li.countdown-section:nth-child(4)*/
  /*{*/
    /*background: rgba(236,85,56,0.7);*/
  /*}*/

  /*.event-content-inner .themeum_kcoundown ul.countdown-row li.countdown-section:nth-child(2),*/
  /*.event-content-inner .themeum_kcoundown ul.countdown-row li.countdown-section:nth-child(3)*/
  /*{*/
    /*background: rgba(194,49,21,0.7);*/
  /*}*/

  /*#navigation .navbar-nav li ul.sub-menu li a:hover,*/
  /*#navigation .navbar-nav li ul.sub-menu li a.active {*/
    /*background: transparent;*/
    /*color: #dc3515;*/
  /*}*/
/*}*/




/*/!************ listing page*****************!/*/
/*.listinginType{*/
	/*bacground:#e6e6e6;*/
/*}*/
/*.page-header {*/

    /*padding: 10px;*/
    /*border-bottom: none;*/
    /*position: relative;*/
    /*margin: 0*/
/*}*/
/*.page-header h2{*/
	/*font-size: 30px;*/
    /*font-weight: 700;*/
    /*margin-top: 0; display: inline-block;*/
/*}*/
/*.page-header h3{*/
	/*display: inline-block; margin-left: 30px; margin-top: 0px;*/
/*}*/
/*.page-header .right {*/
    /*position: absolute;*/
    /*right: 12px;*/
    /*top: 6px;*/

    /*text-align: right;*/
/*}*/
/*.page-header .right .btn-group {*/
    /*float: right;*/
/*}*/
/*.page-header .right .btn {*/
    /*padding-left: 14px;*/
    /*padding-right: 14px;*/
    /*font-size: 18px;*/
/*}*/
/*.page-header .right .btn-group .btn {*/
    /*border: 1px solid #C91A07;*/
/*}*/
/*.searchfilter h2{*/

    /*font-size: 30px;*/
    /*font-weight: 700;*/
    /*margin-top: 0; text-align: center; border-bottom: 1px dotted #000; padding-bottom: 10px;*/
/*}*/
/*.dataTables_info {*/
    /*clear: both;*/
    /*float: left;*/
    /*padding-top: 0.755em;*/
    /*color: #2B2B2B;*/
    /*font-weight: bold;*/
/*}*/
/*.searchgrid .searchsort{*/
	/*float: right;*/
/*}*/
/*.searchgrid .searchsort label{*/
	/*float: left; margin-right: 10px; line-height: 30px; color: #2B2B2B;*/
/*}*/
/*.searchgrid .searchgridoption{*/
	/*margin-bottom: 10px;*/
/*}*/
/*.searchgrid .searchsort .form-control{*/
	/*width:200px; float: left;*/
/*}*/
/*.searchgrid {*/
	/*background: rgba(255, 255, 255, 0.9);*/
    /*margin-top: 25px;*/
    /*padding: 20px;*/
    /*color: #fff;*/

/*}*/
/*.searchgrid  ul.searchlisting{*/
	/*display: block; list-style-type: none; padding: 0px; margin: 0px;*/
/*}*/
/*.searchgrid  ul.searchlisting li{*/
	/*display:block; box-sizing: border-box; float: left; width: 33.3%; padding: 5px; position: relative;*/
/*}*/
/*.searchgrid  ul.searchlisting li .imageHolder{*/
	 /*height: auto; position: relative;*/
/*}*/
/*.searchgrid  ul.searchlisting li.premium .imageHolder{*/
	    /*border: 10px solid #EC5538;*/
/*}*/
/*.searchgrid  ul.searchlisting li .imageHolder img{*/
	/*width: 100%*/
/*}*/
/*.searchgrid  ul.searchlisting li .imageHolder a.imgview{*/
	/*position: relative; display: block;*/
/*}*/
/*.searchgrid  ul.searchlisting li .imageHolder a{*/
	/*cursor: pointer;*/
/*}*/
/*/!*.searchgrid  ul.searchlisting li .searchlisting-desc .name{*/
	/*position:absolute; background: rgba(0,0,0,.9); color: #fff; font-size: 20px; color: #fff; text-align: center; padding: 5px 10px; width: 100%; box-sizing: border-box; top: 0px; font-weight:*/
/*}*!/*/
/*.searchgrid  ul.searchlisting li:hover .searchlisting-desc .name{*/
	/*background: #BD1E00;*/
/*}*/
/*.searchgrid  ul.searchlisting li .searchlisting-desc .button{*/

/*}*/
/*.searchgrid  ul.searchlisting li .searchlisting-desc .button .btn{*/
	/*position: absolute; right: 10px; width: 40px; text-align: center;*/
	/*background: #BD1E00; color: #fff; outline: none;     box-shadow:none;*/
/*}*/

/*.searchgrid  ul.searchlisting li:hover .searchlisting-desc .button .btn{*/
	/*position: absolute; right: 10px; width: 40px; text-align: center;*/
	/*background: #000; color: #fff; outline: none;     box-shadow:none;*/
/*}*/
/*.searchgrid  ul.searchlisting li:hover .searchlisting-desc .button .btn:hover{*/
	/*background: #BD1E00;*/
/*}*/
/*.searchgrid  ul.searchlisting li .searchlisting-desc .button .viewbtn{*/
	/*top: 50px;*/
/*}*/
/*.searchgrid  ul.searchlisting li .searchlisting-desc .button .msgbtn{*/
	/*top: 100px;*/
/*}*/
/*.searchgrid  ul.searchlisting li .searchlisting-desc .button .plusbtn{*/
	/*top: 150px;*/
/*}*/
/*.searchgrid  ul.searchlisting li .searchlisting-desc .feat{*/
	/*background: #BD1E00; color: #fff; padding: 5px ; text-align: center;*/
/*}*/
/*.searchgrid  ul.searchlisting li .searchlisting-desc .location{*/
	/*background: #BD1E00; color: #fff; padding: 5px ; text-align: center; font-size: 12px;*/
/*}*/
/*.searchgrid  ul.searchlisting li .searchlisting-desc .music{*/
	/*background: #BD1E00; color: #fff; padding: 5px ; text-align: center; font-size: 12px;*/
/*}*/
/*.searchgrid  ul.searchlisting li .searchlisting-desc .active{*/
	/*background: #000; color: #fff; padding: 5px ; text-align: center; font-size: 12px;*/
/*}*/
/*.searchgrid  ul.searchlisting li:hover .searchlisting-desc .feat,  .searchgrid  ul.searchlisting li:hover .searchlisting-desc .location, .searchgrid  ul.searchlisting li:hover .searchlisting-desc .music{*/
	/*background: #000*/
/*}*/
/*.searchgrid  ul.searchlisting li:hover .searchlisting-desc .active{*/
	/*background: #BD1E00;*/
/*}*/
/*.searchgrid.searchgrid-listing ul.searchlisting li{*/
	/*width:100%; padding: 0px; height: 196px; background: #000; margin-bottom: 10px;*/

/*}*/
/*.searchgrid.searchgrid-listing ul.searchlisting li.premium{*/
	 /*border: 10px solid #EC5538; height: 216px;*/
/*}*/
/*.searchgrid.searchgrid-listing ul.searchlisting li.premium .imageHolder{*/
	/*border:none*/
/*}*/
/*.searchgrid.searchgrid-listing ul.searchlisting li .imageHolder a.imgview {*/

    /*width: 200px;*/
    /*float: left;*/
/*}*/
/*.searchgrid.searchgrid-listing  ul.searchlisting li .searchlisting-desc{*/
	/*margin-left: 200px;*/
/*}*/
/*.searchgrid.searchgrid-listing ul.searchlisting li .searchlisting-desc .name {*/
    /*position: static;*/
    /*text-align: left;*/
    /*padding: 5px 10px;*/
    /*width: 100%;*/
    /*display: block;*/
/*}*/
/*.searchgrid.searchgrid-listing ul.searchlisting li .searchlisting-desc .button {*/
    /*background-color: #000;*/
    /*padding: 5px 10px;*/
/*}*/
/*.searchgrid.searchgrid-listing ul.searchlisting li .searchlisting-desc .button .btn {*/
    /*position: static;*/

/*}*/
/*.searchgrid.searchgrid-listing ul.searchlisting li .searchlisting-desc .feat, .searchgrid.searchgrid-listing ul.searchlisting li .searchlisting-desc .location, .searchgrid.searchgrid-listing ul.searchlisting li .searchlisting-desc .music, .searchgrid.searchgrid-listing ul.searchlisting li .searchlisting-desc .active {*/

    /*padding: 5px 10px;*/
    /*text-align: left;*/
/*}*/



/*/!************* classify***************!/*/
/*.searchgrid  ul.classifylisting{*/
	/*display: block; list-style-type: none; padding: 0px; margin: 0px;*/
/*}*/
/*.searchgrid  ul.classifylisting li{*/
	/*display:block; box-sizing: border-box; float: left; width: 33.3%; padding: 5px; position: relative;*/
/*}*/
/*.searchgrid  ul.classifylisting li .imageHolder{*/
	/*width: 100%; height: auto; position: relative;*/
/*}*/
/*.searchgrid  ul.classifylisting li .imageHolder img{*/
	/*width: 100%*/
/*}*/
/*.searchgrid  ul.classifylisting li .imageHolder a.imgview{*/
	/*position: relative; display: block;*/
/*}*/
/*.searchgrid  ul.classifylisting li .imageHolder a{*/
	/*cursor: pointer;*/
/*}*/
/*.searchgrid  ul.classifylisting li  .name{*/
	/*color: #fff; font-size: 20px; color: #fff; text-left: center; padding: 5px 10px;  box-sizing: border-box; top: 0px; font-weight: bold; background: #ec5538 ; display: block;*/
/*}*/
/*.searchgrid  ul.classifylisting li:hover .searchlisting-desc .name{*/

/*}*/
/*.searchgrid  ul.classifylisting li .searchlisting-desc .button{*/

/*}*/
/*.searchgrid  ul.classifylisting li .searchlisting-desc .button .btn{*/
	/*position: absolute; right: 10px;  text-align: center;*/
	/*background: #BD1E00; color: #fff; outline: none;     box-shadow:none;*/
/*}*/

/*.searchgrid  ul.classifylisting li:hover .searchlisting-desc .button .btn{*/
	/*position: absolute; right: 10px;  text-align: center;*/
	/*background: #000; color: #fff; outline: none;     box-shadow:none;*/
/*}*/
/*.searchgrid  ul.classifylisting li:hover .searchlisting-desc .button .btn:hover{*/
	/*background: #BD1E00;*/
/*}*/
/*.searchgrid  ul.classifylisting li .searchlisting-desc .button .viewbtn{*/
	/*top: 10px;*/
/*}*/
/*.searchgrid  ul.classifylisting li  .feat{*/
	/*background: #BD1E00; color: #fff; padding: 5px 10px;*/
/*}*/
/*.searchgrid  ul.classifylisting li .searchlisting-desc .numbertime{*/
	/*background: #000; color: #fff; padding: 10px ; text-align: right;*/
/*}*/
/*.searchgrid  ul.classifylisting li .searchlisting-desc .numbertime .divider{*/
	/*width: 50%; float: left;*/
/*}*/
/*.searchgrid  ul.classifylisting li .searchlisting-desc .music{*/
	/*background: #ec5538; color: #fff; padding: 5px ; text-align: center;*/
/*}*/
/*.searchgrid  ul.classifylisting li .searchlisting-desc .reply{*/
	/*background: #000; color: #fff; padding: 5px 10px ;  font-size: 12px;*/
/*}*/

/*.searchgrid  ul.classifylisting li:hover .searchlisting-desc .active{*/
	/*background: #BD1E00;*/
/*}*/
/*.searchgrid.searchgrid-listing ul.classifylisting li{*/
	/*width:100%; padding: 0px; height: 196px; background: #000; margin-bottom: 10px*/
/*}*/
/*.searchgrid.searchgrid-listing ul.classifylisting li .imageHolder a.imgview {*/

    /*width: 200px;*/
    /*float: left;*/
/*}*/
/*.searchgrid.searchgrid-listing  ul.classifylisting li .searchlisting-desc{*/
	/*margin-left: 200px;*/
/*}*/
/*.searchgrid.searchgrid-listing ul.classifylisting li .searchlisting-desc .name {*/
    /*position: static;*/
    /*text-align: left;*/
    /*padding: 5px 10px;*/
    /*width: 100%;*/
    /*display: block;*/
/*}*/
/*.searchgrid.searchgrid-listing ul.classifylisting li .searchlisting-desc .button {*/
    /*background-color: #000;*/
    /*padding: 5px 10px;*/
/*}*/
/*.searchgrid.searchgrid-listing ul.classifylisting li .searchlisting-desc .button .btn {*/
    /*position: static;*/

/*}*/
/*.searchgrid.searchgrid-listing   ul.classifylisting li .searchlisting-desc .numbertime{*/
	/*background: #000; color: #fff; padding: 10px ; text-align: right;  height: 40px;*/
/*}*/
/*.searchgrid.searchgrid-listing ul.classifylisting li .searchlisting-desc .feat, .searchgrid.searchgrid-listing ul.classifylisting li .searchlisting-desc .location, .searchgrid.searchgrid-listing ul.classifylisting li .searchlisting-desc .music, .searchgrid.searchgrid-listing ul.classifylisting li .searchlisting-desc .active {*/

    /*padding: 5px 10px;*/
    /*text-align: left;*/
/*}*/
/*li.profiledrop{*/
	/*padding: 0px; position: relative; margin-left: 10px; height: 85px;*/
/*}*/
/*#navigation .navbar-nav > li.profiledrop > a.dropimg*/
/*{*/

    /*display: block;*/
    /*height: 34px;*/
    /*line-height: 0;*/
    /*margin-top: 25px;*/
    /*padding: 1px;*/
    /*padding-right: 30px; position: relative;     border-radius: 5px;*/
/*}*/
/*#navigation .navbar-nav > li.profiledrop > a.dropimg img{*/
	/*border-radius: 5px; height: 32px; width: 32px*/
/*}*/
/*#navigation .navbar-nav > li.profiledrop > a.dropimg i{*/
	/*position: absolute; right: 5px; top:50%; margin-top: -9px; color: #fff;*/
/*}*/
/*#navigation .navbar-nav > li.profiledrop > a.dropimg:hover i, #navigation .navbar-nav > li.profiledrop > a.dropimg:focus i{*/
	/*position: absolute; right: 5px; top:50%; margin-top: -9px;*/
	/*color: #000*/
/*}*/
/*#navigation .navbar-brand img{*/
	/*height: 40px;*/
/*}*/
/*.accountpic{*/
	/*position: absolute; left: 0px; top:0px;*/
/*}*/
/*.page-header.accountphead{*/
	/*margin: 0px;*/
/*}*/
/*.accountphead{*/

/*}*/
/*.single-event.accountinnerpage{*/
	/*/!*margin-top:0px; padding:0px*!/*/
	/*}*/
	/*.nav-tabs>li>a{*/
		/*font-weight:bold*/
	/*}*/
/*.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{*/
	 /*color: #fff;     border-radius:0; border-bottom: 0px;*/
/*}*/
/*.tab-content {*/

    /*padding: 20px; color: #333*/
/*}*/
/*.progress{*/
	/*margin-bottom:5px;*/
/*}*/
/*.panel-title {*/
    /*color: #fff;*/
    /*font-size: 14px;*/
    /*font-weight: bold;*/
    /*text-transform: uppercase;*/
    /*padding: 16px 20px;*/
    /*margin-bottom: 0px;*/
    /*border-bottom: none;*/
    /*border-top-left-radius: 3px;*/
    /*border-top-right-radius: 3px;*/

/*}*/
/*.breadcrumb{*/
	/*background:none; margin-bottom: 0px;*/
/*}*/
/*.mailbox-inbox {*/
    /*background: #fff;*/
    /*border: 1px solid #ddd;*/
    /*padding: 0;*/
    /*left: 0;*/
    /*top: 0;*/
    /*color: #76747A;*/
    /*border-bottom: 0px;*/
/*}*/
/*.mailbox-inbox li {*/
    /*display: block;*/
/*}*/
/*.mailbox-inbox .item {*/
    /*display: block;*/
    /*padding:5px 10px;*/
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.09);*/
    /*color: #76747A;*/
    /*position: relative;*/
    /*font-size: 16px;*/
/*}*/
/*.mailbox-inbox .img {*/
    /*width: 40px;*/
    /*height: 40px;*/
   /*/!* border-radius: 50%;*!/*/
   /**/
/*}*/
/*.mailbox-inbox span.imgbg {*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*border-radius: 50%;*/
    /*float: left;*/
    /*margin-right: 10px;*/
    /*background: #000; overflow: hidden;*/
/*}*/
/*.mailbox-inbox .from {*/
    /*font-size: 18px;*/
    /*display: block;*/
    /*color: #333;*/
/*}*/
/*.mailbox-inbox .addcontent{*/
	/*margin-left: 50px; color: #333;text-transform: none;*/
/*}*/
/*.mailbox-inbox .date {*/
    /*position: absolute;*/
    /*font-size: 10px;*/
    /*right: 20px;*/
    /*top: 20px;*/
    /*opacity: 0.7;*/
/*}*/
/*.mailbox-inbox .item:hover {*/
    /*background: #E3F2FF;*/
/*}*/

/*.tab_inner_head{*/
	/*border-bottom: 1px dotted #ccc; padding-bottom: 5px; margin-bottom: 5px; font-weight: bold;*/
/*}*/
/*.tab_inner_head.marg{*/
	/*margin-top: 15px;*/
/*}*/
/*.accountrightbtn{*/
	/*text-align: right; margin-top: 5px;*/
/*}*/

/*.dropdownband {*/
	/*width: 100%; display: block; margin-top:5px; margin-bottom: 5px;*/
/*}*/
/*.dropdownband dd, .dropdownband dt {*/
    /*margin:0px;*/
    /*padding:0px;*/
/*}*/
/*.dropdownband ul {*/
    /*margin: -1px 0 0 0;*/
/*}*/
/*.dropdownband dd {*/
    /*position:relative;*/
/*}*/
/*.dropdownband a,*/
/*.dropdownband a:visited {*/
    /*color:#333;*/
    /*text-decoration:none;*/
    /*outline:none;*/
    /*font-size: 12px;*/
/*}*/
/*.dropdownband  a.dclik {*/

    /*display:block;*/
    /*padding: 5px;*/


    /*overflow: hidden;*/
    /*border:0;*/
    /*border: 1px solid #ccc; color:#333; border-radius: 5px;*/
    /*font-size: 14px;*/
        /*font-family: 'Dosis', sans-serif; font-weight: normal;*/
        /*position: relative;*/

/*}*/
/*.dropdownband  a.dclik i{*/
	/*position: absolute; right:10px; top:11px*/
/*}*/
/*.dropdownband  a.dclik span, .multiSel span {*/
    /*cursor:pointer;*/
    /*display:inline-block;*/
    /*padding: 0 3px 2px 0;*/
/*}*/
/*.dropdownband dd ul {*/
    /*background-color: #F57C65;*/
    /*border:0;*/
    /*color:#fff;*/
    /*display:none;*/
    /*left:0px;*/
    /*padding: 2px 15px 2px 5px;*/
    /*position:absolute;*/
    /*top:-4px;*/
    /*width:100%;*/
    /*list-style:none;*/
    /*max-height: 150px;*/
    /*overflow: auto;*/
    /*margin: 0px; z-index: 9999;*/
    /*border-top:0px;*/

/*border:1px solid #ccc*/
/*}*/
/*.dropdownband dd ul label{*/
	/*display: inline-block; cursor: pointer;*/
/*}*/
/*.dropdownband span.value {*/
    /*display:none;*/
/*}*/
/*.dropdownband dd ul li a {*/
    /*padding:5px;*/
    /*display:block;*/
/*}*/
/*.dropdownband dd ul li a:hover {*/
    /*background-color:#fff;*/
/*}*/
/*.dropvalus{*/
	/*margin-bottom:10px;*/
/*}*/
/*.fixed {*/
  /*position: fixed;*/
  /*top:85px; left:0;*/
  /*width: 100%;*/
  /*}*/

 /*.fixedhead{*/
 	/*z-index: 99999; margin-top: 40px;*/
 /*}*/
  /*.fixedhead.fixed {*/
   	/*margin: 0px;*/
   /*}*/

/*.profiletop .vsection{*/
	/*margin-bottom: 18px;*/
/*}*/
/*.mejs-container{*/
	/*width:100% !important;*/
/*}*/
/*.profilebottom-box{*/
	/*background: rgba(255,255,255,.7);*/
    /*padding: 15px;*/
    /*color: #333;*/
    /*border-top:5px solid #F57C65;*/
    /*}*/

 /*.profile-coonection{*/
 	/*margin-bottom: 10px;*/
 /*}*/
 /*.droppic{*/
 	/*margin-bottom: 10px;*/
 /*}*/
 /*.droppiccheck input[type="checkbox"]{*/
 	/*margin-left:0px;*/
 /*}*/
 /*.selected img {*/
	/*/!*opacity:0.5;*!/*/
/*}*/
/*.btn{*/
	/*border:none*/
/*}*/
/*.carousel-control {*/
    /*position: absolute;*/
    /*top: 50%;*/

    /*left: 0;*/
    /*width: 40px;*/
    /*font-size: 40px;*/
    /*color: #fff;*/
    /*text-align: center;*/

    /*opacity: 1;*/
    /*color: #000 !important;*/
    /*margin-top: -29px;*/
    /*filter: alpha(opacity=100);*/
        /*text-shadow:none;*/

/*}*/
/*.carousel-control.left, .carousel-control.right{*/
	 /*background-image: none*/
/*}*/
/*.othersinput{*/
	/*padding: 0px 0px 10px 0px;*/
/*}*/
/*.othersinput input[type=text]{*/
	/*width:200px; display: inline-block;*/

/*}*/
/*.mutliSelect .othersinput-content{*/
	/*display:none*/
/*}*/
/*.mutliSelect .othersinput-content.show{*/
	/*display: inline-block !important;*/
/*}*/
/*.uploadPhoto{*/
	/*margin: 0px; padding: 0px; list-style-type: none;*/
/*}*/
/*.uploadPhoto li{*/
	/*display: inline-block; position: relative; margin-right: 10px;*/
/*}*/
/*.uploadPhoto li img{*/
	/*width: 94px; height: 94px; cursor: pointer;*/
/*}*/
/*.uploadPhoto li input {*/
	 /*width: 100%; cursor: pointer;*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0px;*/
    /*opacity: 0;*/
    /*filter:alpha(opacity=0)*/

    /*}*/

 /*.latest_ads h2{*/
 	/*margin-top: 0px;*/
 /*}*/
/*.latest_ads .mailbox-inbox{*/
	/*border:none; background: #EAEAEA; width: 100%*/
/*}*/

/*.latest_ads .mailbox-inbox li:last-child .item{*/
	/*border: none*/
/*}*/
/*.latest_ads .mailbox-inbox .from{*/
	/*font-size: 12px;*/
/*}*/


/*.newsslide_bg{*/
	/*height:305px !important; position: relative;*/
/*}*/
/*.navbar-collapse{*/
	/*padding-right:0px;*/
/*}*/
/*.placedate{*/
	  /*position: absolute;*/
    /*right: 15px;*/
    /*bottom: -32px;*/
    /*padding: 5px 10px;*/
    /*padding-top: 0px;*/
    /*line-height: 16px;*/
    /*font-size: 12px*/
/*}*/
/*.forgetpasstxt{*/
	/*margin-top: 5px*/
/*}*/
/*.send-req-con{*/
	/*min-height: 450px*/
/*}*/
/*.vocalcheckbox-option{*/
	/*display: none;*/
/*}*/
/*.pricing .panel-footer{*/
	/*height: 40px; font-weight: bold; text-align: center;*/
/*}*/

/*.pricing .panel.active{*/
	/*box-shadow: 0px 0px 10px rgba(0,0,0, .4);*/
/*}*/
/*.creditcardoption{*/
	/*margin-top: 20px;*/
/*}*/
/*.creditcardoption img{*/
	/*margin: 0px 17px*/
/*}*/
/*.uptotal{*/
	/*font-size: 40px; margin-top: 10px; margin-bottom: 20px;*/
/*}*/
/*#place{*/
	/*margin-right: 10px;*/
/*}*/
/*.floating_icon{*/
	/*position: fixed; top:125px; right: 0px;*/
	/*background: #000; padding:5px 10px; width: 50px;*/
	/*z-index: 9999999;*/
/*}*/
/*.floating_icon a{*/
	/*display: block; ; font-size: 35px !important;*/
/*}*/
/*.floating_icon a:last-child{*/
	/*margin: 0px;*/
/*}*/
/*#navigation .navbar-brand{*/
	/*position: relative;*/
/*}*/
/*#navigation .navbar-brand span{*/
	    /*position: absolute;*/
    /*width: 100%;*/
    /*left: -19px;*/
    /*bottom: 10px;*/
    /*text-align: right;*/
    /*color: #fff;*/
    /*font-size: 8px;*/
/*}*/
/*.adform h2{*/
	/*margin-top: 25px;*/
	/*border-bottom: 1px solid #A5A5A5;*/
	/*padding-bottom: 10px;*/
/*}*/






/*.customMSGbox_overlay{*/
    /*width:100%; height: 100%; position: fixed; left: 0px; top: 0px; z-index: 999998*/
/*}*/
/*.customMSGbox{*/
    /*width: 300px; border: 5px solid #999999; position: fixed; left: 50%; top:50%; margin-left: -150px; margin-top: -100px; background: #fff; z-index: 999999; padding: 0px; padding-bottom: 60px; -webkit-box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.75);*/
    /*-moz-box-shadow:    0px 0px 12px 0px rgba(50, 50, 50, 0.75);*/
    /*box-shadow:         0px 0px 12px 0px rgba(50, 50, 50, 0.75);*/
    /*border-radius: 4px;*/
/*}*/
/*.customMSGbox .msgcontent{*/
    /*padding: 10px;  text-align: center;*/
    /*color:#333333 !important;*/

/*}*/
/*.customMSGbox .msgbtn{*/
    /*border-top:1px dotted #B8B8B8 ; padding: 10px; margin: 0px; position: absolute; bottom: 0px; width: 100% ; text-align: center;*/

/*}*/
/*.customMSGbox .msgbtn button {*/
    /*margin-right: 10px;*/
    /*background: #46b8da;*/
    /*padding: 4px 12px;*/
    /*color: #fff;*/
    /*font-weight: bold;*/
    /*cursor: pointer;*/
    /*border-radius:4px !important;*/

/*}*/

/*.locked {*/
    /*position: fixed;*/
    /*z-index: 1060 !important;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background-color: #FFF;*/
    /*opacity: .5;*/
    /*height: 100% !important;*/
    /*width: 100% !important;*/
/*}*/

/*.loading {*/
  /*position: relative;*/
  /*margin: 10% auto;*/
  /*left: 46.5%;*/
  /*margin-top: 23%;*/
/*}*/
/*.searchgrid ul.searchlisting li .imageHolder img, .searchgrid ul.classifylisting li .imageHolder img{height: 235px}*/
/*.dataTables_wrapper{text-align: center; padding-top: 0.25em;}*/
/*.pagination {margin:0 auto;}*/
/*.pagination>li{display:inline-block; margin-right: 1px; }*/
/*.pagination>.disabled>a, .pagination>li>a {background:#000 !important; border:none; color:#fff !important; min-width: 1.5em;*/
  /*padding: 0.2em 1em;border-radius: 3px }*/
/*.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus*/
/*{*/
  /*background: #BD1E00 !important;*/
/*}*/
/*.searchgrid ul.searchlisting li .searchlisting-desc .name {*/
  /*position: absolute;*/
  /*background: rgba(0,0,0,.9);*/
  /*color: #fff;*/
  /*font-size: 20px;*/
  /*color: #fff;*/
  /*text-align: center;*/
  /*padding: 5px 10px;*/
  /*width: 100%;*/
  /*box-sizing: border-box;*/
  /*top: 0px;*/
/*}*/
/*#profileCarousel .carousel-inner .active.left { left: -33%; }*/
/*#profileCarousel .carousel-inner .next        { left:  33%; }*/
/*#profileCarousel .carousel-inner .prev        { left: -33%; }*/
/*#profileCarousel .carousel-control.left,.carousel-control.right {background-image:none;}*/

/*.searchgrid ul.classifylisting.eventli li .name{*/
	/*position: absolute; width: 100%; top: 0; left: 0;*/
/*}*/
/*.searchgrid ul.classifylisting.eventli li .searchlisting-desc{*/
	/*margin-left: 90px;*/
    /*margin-right: 10px;*/
    /*margin-bottom: 10px;*/
	/*}*/
	/*.searchgrid ul.classifylisting.eventli li .feat{*/
		/*color: #444545; background: none; padding: 0px;*/
	/*}*/
	/*.searchgrid ul.classifylisting.eventli li .imageHolder img{*/
		/*width: 70px;*/
    /*height: auto;*/
    /*float: left;*/
    /*margin-left: 10px;*/
    /*max-height: 70px*/
	/*}*/
	/*.searchgrid ul.classifylisting.eventli li{*/
		/**/
	/*}*/
/*.searchgrid ul.classifylisting.eventli li .imageHolder{*/
	/*padding-top: 40px; border: 1px solid #ec5538; min-height: 162px*/
/*}*/
/*.searchgrid ul.classifylisting.eventli li .searchlisting-desc .button .btn{*/
	/*position: absolute;*/
    /*right: auto;*/
    /*top: auto;*/
    /*text-align: center;*/
    /*background: #BD1E00;*/
    /*color: #fff;*/
    /*outline: none;*/
    /*box-shadow: none;*/
    /*bottom: 10px;*/
    /*left: 10px;*/
/*}*/

/*.container{*/
	/*width:auto !important*/
/*}*/
/*.widget-body.medium.no-padding{*/
	/*/!* margin-top: 20px;  margin-bottom: 0px;*!/*/
/*}*/
/*.table-responsive{*/
	    /*border: 1px solid #ccc;*/
	    /*background: #fff*/
/*}*/
/*.table-responsive table{*/
	/*border: 1px solid #ddd;     width: 100%;*/
     /*border-collapse: collapse;*/
    /*border-spacing: 0;*/
   /**/
    /*background: #fff;*/
    /*margin-bottom: 0px;*/
/*}*/
/*.table-responsive table th, .table-responsive table td{*/
	    /*padding: 2px !important;*/
    /*line-height: 1.428571429;*/
        /*color: #333; */
        /*font-size: 12px;*/
        /*background: #000;*/
    /*color: #fff;*/
        /*border: 1px solid #424242;*/
/*}*/
/*.table-responsive table th{*/
    /*font-weight: bold;*/
        /*background: #fff !important;*/
    /*color: #000 !important;*/
    /*border: 1px solid #424242;*/
    /**/
/*}*/
/*/!*.table-responsive table tr:nth-child(odd)>td{*/
    /*background-color: #f9f9f9;*/
/*}*!/*/
/*.console_top{*/
	/*/!* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d3d3d+0,4d4d4d+98 *!/*/
/*background: #3d3d3d; /!* Old browsers *!/*/
/*background: -moz-linear-gradient(top,  #1B1B1B 0%, #4d4d4d 98%); /!* FF3.6-15 *!/*/
/*background: -webkit-linear-gradient(top,  #1B1B1B 0%,#4d4d4d 98%); /!* Chrome10-25,Safari5.1-6 *!/*/
/*background: linear-gradient(to bottom,  #1B1B1B 0%,#4d4d4d 98%); /!* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!/*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1B1B1B', endColorstr='#4d4d4d',GradientType=0 ); /!* IE6-9 *!/*/
/*padding: 4px 0px;*/
/*}*/

.consoleul{
	display: block;
	margin: 0px;
	padding: 0px
}
.consoleul li:nth-child(even){
	background:#ccc
}
.consoleul li a{
	cursor: pointer; text-decoration: none; color: #333 !important; padding: 3px 5px;
    display: block; font-weight: bold;
}
.consoleul li:first-child a{
	padding-top: 0px
}
.consoleul li a span{
	float: right;
}

/*.columnwidth{*/
    /*width:5%;*/
/*}*/

/*.labelcolor{*/
    /*color: #000000;*/
/*}*/

/*.divpadding{*/
    /*padding-top: 3%;*/
    /*padding-right: 3%;*/
/*}*/

/*/!* New Added *!/*/

/*.dash-unit {*/
  /*margin-bottom: 30px;*/
  /*margin-top: 31px;*/
  /*margin-left: 15px;*/
  /*padding-bottom: 10px;*/
  /*border: 1px solid #383737;*/
  /*background-image: url('../images/sep-half.png');*/
  /*background-color: #3d3d3d;*/
  /*color: white;*/
  /*height: 379px;*/
  /*border-radius: 2%;*/
/*}*/

/*.info-user {*/
  /*text-align: center;*/
  /*font-size: 24px;*/
  /*color: #b2c831;*/
/*}*/

/*.thumbnail {*/
  /*border: 0px;*/
  /*text-align: center;*/
  /*-webkit-box-shadow: 0px;*/
  /*-moz-box-shadow: 0px;*/
  /*box-shadow: 0px;*/
  /*background: none;*/
  /*text-align: center;*/
/*}*/