body {
    background-image: url('../../images/admin/bg2.png');
}
/* ------------------------------
        STICKY HEADER
---------------------------------*/

.sticky-header .logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  z-index: 100;
  background: #fff;
  text-align: center;

}

.sticky-header .left-side {
  /*top: 50px;*/
}

.sticky-header .header-section {
  position: fixed;
  top: 0;
  left: 240px;
  width: 100%;
  z-index: 100;
}

.sticky-header .main-content {
  padding-top: 50px;
}

.sticky-header .menu-right {
  margin-right: 255px;
}

.sticky-header.left-side-collapsed .header-section {
  left: 52px;
}

.sticky-header.left-side-collapsed .menu-right {
  margin-right: 67px;
}

a,
.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message *,
#navigation .navbar-nav > li > a:hover,
.tab_inner_head,
.dropdownband a.dclik i,
.top-search h2,
.page-header h2,
.searchfilter h2,
 .latest_ads h2,
 .uptotal,
 .adform h2

{
    color:#F5F5F5 !important;
}
.dropzone{
	border-color: #ec5538 !important
}
.btn,
button,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus,
#navigation .navbar-nav > li.signup > a,
#navigation .navbar-nav > li.profiledrop > a.dropimg,
.progress-bar-success,
.btn-success,
.panel-title,
.btn.btn-primary,
.pager li a:hover,
.pager li a:focus,
.single-date,
.pager li a.active,
.label-danger,
.btn-danger,
.pricing .panel-footer,
.pricing .panel.active


{
	background: #ec5538 !important;
	color: #fff !important;

}
.btn:hover{
	color: #333 !important;

}
#navigation .navbar-nav > li > a,
.searchgrid ul.classifylisting li .name,
.searchgrid ul.searchlisting li .searchlisting-desc .name,
.viewbtn-group .btn.active,
#navigation .navbar-nav li ul.sub-menu li a
{
	color:#fff !important
}
.viewbtn-group .btn{
	color:#333 !important
}

#navigation .navbar-nav > li.signup > a:hover{
	background: #000 !important;

}
.page-header,
#navigation,
.top-search,
.single-event

 {
    background: rgba(0, 0, 0, 0.9) !important;

}

.single-event.accountinnerpage{
	background: rgba(255,255,255,.9) !important;
	}
.tab-content {
	 background: rgba(255,255,255,.7) !important;
}
.panel{
	background: #fff !important
}
.nav-tabs{
	    background: #DEDDDD !important;
}

.pricing .panel{
	background:#ECE8E8  !important; cursor: pointer;

}
.placedate{
	color: #ccc
}

.floating_icon a.fb{
	color: #3b5998 !important
}
.floating_icon a.twit{
	color:#00aced !important
}

.floating_icon a.lin{
	color:#007bb5 !important
}

.floating_icon a.gplus{
	color:#dd4b39 !important
}
